*{
	margin:0;
	padding: 0;
}
@font-face{
	font-family: "汉仪综艺体简";
	src:url("../font/汉仪综艺体简.ttf");
}
body{
	min-width:937px;
	width:100%;
	height: 100%;
	background: url(../image/background.png) no-repeat;
	background-size: cover;
}

.header{
	width:100%;
	height: 30%;
	background-color:#393836;
}
.weizhi{
	margin-top:3%;
}
.section{
	position: relative;
	width:100%;
	height:60%;

}
ul{
	display:inline-block;
	width:100%;
	padding: 1% 0;
	background: #dbd8d4;
}
ul li{
	display:inline-block;
	width:14%;
	height:5%;
	float:left;
	background: #dbd8d4;
	list-style: none;
	text-align: center;
	border-left:1px solid #b1153a;

}
ul li a{
	text-decoration: none;
	color:#b1153a;
	font-family:汉仪综艺体简;
	font-size:15pt;
}
ul li a:hover{
	border-bottom:1px solid #b1153a ;
}
.xuzhi{
	padding-bottom: 0.5%;
	margin:0 auto;
	margin-top:5%;
	width:15%;
	height:10%;
	border-bottom:2px solid #fff;
}
.xuzhi p{
	font-family:汉仪综艺体简;
	color:#fff;
	font-size:25pt;
	text-align: center;
}
.section img{
	margin-top:7% ;
	margin-left: 20%;
}
.time1 {
	position:absolute;
	top:24%;
	left:29%;
	
}
.time2 {
	position:absolute;
	top:59.5%;
	left:29%;
	
}
.time3 {
	position:absolute;
	top:95.5%;
	left:29%;
	
}
.word1 {
	position:absolute;
	top:27.5%;
	left:29%;
	
}


.word2 {
	position:absolute;
	top:63%;
	left:29%;
	
}
.word3 {
	position:absolute;
	top:99.2%;
	left:29%;
	
}
.size{
	font-size: 55px;
	color:#fff;
}
p{
	font-size: 15pt;
	color:#fff;
}
.rule1 {
	position:absolute;
	top:27.5%;
	left:40%;
	
}


.rule2 {
	position:absolute;
	top:63%;
	left:40%;
	
}
.rule3 {
	position:absolute;
	top:99.2%;
	left:40%;
	
}
.Hsize{
	font-size: 25px;
	color:#fff;
}	
.Psize{
	font-size: 20px;
	color:#fff;
	line-height: 40px;
}		
	

.footer{
	margin-top:30%;
	width:100%;
	

}
.red{
	width:100%;
	padding:0.1% 0;
	background-color:#b1153a;
}
.black{
	width:100%;
	padding:1.5% 0;
	background-color:#393836;

}